/* See comments at the bottom for changes to try. */

.sandbox {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 20vw 60vw;
  grid-template-rows: repeat(10);
  background-color: lightblue;
  padding: 50px;
}

.sandbox > * {
  background-color: white;
  padding: 20px;
}



header {
  display: grid;
  place-items: center;
  grid-column: span 2;
}

aside {
  grid-column: span 2;
}

main {
  grid-column-start: 2;
  grid-row: span 2;
  width: 100%;
  height: 100%;
}

.carl {
  grid-row-start: 2;
  grid-column-start: 1;
  width: 100%
}

.pbd {
  grid-column-start:1;
  grid-row-start: 3;
  width: 100%
}

footer {
  grid-column: span 2;
}

/*

.sandbox {
  display: grid;
  grid-gap: 20px;
  grid-template:
    " header header header "
    " aside  main   carl   "
    " aside  main   pbd    "
    " footer footer footer "
    / 200px  2fr    1fr
  ;

  background-color: lightblue;
  padding: 20px;
}

@media (max-width: 600px) {

  .sandbox {
    grid-template:
      " carl   "
      " header "
      " aside  "
      " main   "
      " pbd    "
      " footer "
    ;
  }
}

.sandbox > * {
  background-color: white;
  padding: 20px;
}

img {
  width: 100%;
}

header { grid-area: header; }
aside  { grid-area: aside;  }
main   { grid-area: main;   }
.carl  { grid-area: carl;   }
.pbd   { grid-area: pbd;    }
footer { grid-area: footer; }

*/
